body{
	background-color:rgb(225,225,225);
}

#mainbody{
	position:absolute;
	width:1000px;
	height:1150px;
	left:50%;
	margin-left:-500px;
	padding-left:100px;
	
}

#footer{
	position:absolute;
	background-color:rgb(100,200,200);
	width:800px;
	height:50px;
	font-size:20px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	bottom:10px;
	
}
.menuItem{
	position:relative;
	top:3px;
	background-color:rgb(0,200,200);
	height:60px;
	width:190px;
	border:solid rgb(0,0,0) 5px;
	font-size:30px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	
	border-radius:10px;
	cursor:pointer;
	
}

.menuItem:hover{
	background-color:rgb(150,200,200);
	color:rgb(255,0,0);
	
}

.product{
	position:relative;
	height:200px;
	width:170px;
	border:solid rgb(0,0,0) 5px;
	font-family:"Times New Roman";
	text-align: center;
	bottom:0px;
	border-radius:10px;
/*	background-color: rgb(255,255,255);*/
}

.product:hover{
	background-color: rgb(150,150,150);
}

#header{
	position:absolute;
	background-color:rgb(0,100,100);
	top:10px;
	height:220px;
	width:800px;
	
}

#logo{
	position:absolute;
	background-color:rgb(0,50,50);
	top:10px;
	height:200px;
	width:200px;
	left:10px;
	border-radius:50px;	
	
}

#logo img{
	width: 200px;
	height: 200px;
	border-radius:50px;	
}

#welcomeBanner{
	position:absolute;
	background-color:rgb(200,250,250);
	top:10px;
	height:200px;
	width:548px;
	right:20px;
	
	font-size:60px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	border-radius:50px;
	

}

#mainContent{
	position:absolute;
	background-color:rgb(0,150,150);
	top:240px;
	height:850px;
	width:800px;
	
}

#navigationMenu{
	position:absolute;
	left:10px;
	top:10px;
	height:800px;
	width:200px;
	
}

#productList{
	position:absolute;
	right:10px;
	top:10px;
	height:800px;
	width:560px;

}

#productList img {
    width: 170px;
    height: 170px;
}

.description{
	position:absolute;
	bottom:15px;
	left:65px;
    font-size: 30px;
    font-weight: bold;
	display: none;
	z-index: 1;
}

.shoppingcart{
	position:absolute;
	bottom: 15px;
	display: none;
	z-index: 2;
}

.product:hover .shoppingcart{
	display:block;
}


.product:hover .description{
	display: block;
}

#productList img:hover{
	opacity: 0.4;
	background-color: rgb(211,211,211);
}

.addButton{
	position:absolute;
	bottom: 80px;
	left: 15px;
	background-color: rgba(0,255,0,0.9);
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	color:rgba(255,255,255,0.9);
	display: none;
	z-index: 3;
	height:30px;
	width:60px;
	
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	
	border-radius:10px;
	cursor:pointer;
}

.product:hover .addButton{
	display: block;
}

.removeButton{
	position:absolute;
	bottom: 80px;
	right: 15px;
	background-color: rgba(255,0,0,0.9);
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	color: rgba(255,255,255,0.9);
	display: none;
	z-index: 2;
	height:30px;
	width:60px;
	visibility: hidden;
	
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	
	border-radius:10px;
	cursor:pointer;
}

.product:hover .removeButton{
	display: block;
}

#cart{
	position:absolute;
	top:20px;
	height:200px;
	width:200px;
	left:800px;
	
}

#cart img{
	width: 70px;
	height: 70px;
	cursor:pointer;
}

#cartPrice{
	position: absolute;
	top: 10px;
	height: 50px;
	width:150px;
	right:30px;
	font-family:"Times New Roman";
	font-size:25px;
	background-color: rgb(0,200,200);
	border: solid rgb(0,0,0) 5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	line-height: 50px;
	cursor:pointer;
}

#cartPrice:hover{
	background-color:rgb(150,200,200);
	color:rgb(255,0,0);
}

#modalbg{
	position: absolute;
	background-color:rgb(0,0,0);
	width:500px;
	height:400px;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-200px;
	z-index:4;
	opacity:0.5;
	border-radius:15px;
}

#modal{
	position: absolute;
	background-color:rgb(255,255,255);
	width:480px;
	height:Auto;
	left:50%;
	top:50%;
	margin-left:-240px;
	margin-top:-190px;
	z-index:5;
	border-radius:15px;	
}

#closeM{
	position: absolute;
	width:30px;
	height:30px;
	right:-15px;
	top:-15px;
	cursor:pointer;
	
}

#cartTable td{
	width:150px;
	height:40px;
	background-color:rgb(0,245,245);
	padding-left:10px;
	font-size:20px;
	font-family:"Times New Roman";
	border-radius:15px;
}

.modalB{
	width:30px;
	height:30px;
	cursor:pointer;
	padding-left:5px;
}

#checkout{
	position:absolute;
	background-color:rgb(0,200,200);
	right:5px;
	bottom:-60px;
	height:50px;
	width:100px;
	border:solid rgb(0,0,0) 4px;
	font-size:20px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	
	border-radius:10px;
	cursor:pointer;	
}

#totalM{
	position:absolute;
	background-color:rgb(0,200,200);
	left:5px;
	bottom:-60px;
	height:50px;
	width:Auto;
	border:solid rgb(0,0,0) 4px;
	font-size:20px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	
	border-radius:10px;
	cursor:pointer;	
}

#modalwindow{
	display:none;
}
