body{
	background-color:rgb(100,100,100);
}

#mainbody{
	position:absolute;
	width:1000px;
	height:1150px;
	left:50%;
	margin-left:-500px;
	padding-left:100px;
	
}

#footer{
	position:absolute;
	background-color:rgb(100,200,200);
	width:800px;
	height:50px;
	font-size:20px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	bottom:10px;
	
}
.menuItem{
	position:relative;
	top:3px;
	background-color:rgb(0,200,200);
	height:60px;
	width:190px;
	border:solid rgb(0,0,0) 5px;
	font-size:30px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	
}

.menuItem:hover{
	background-color:rgb(150,200,200);
	color:rgb(255,0,0);
	
}

.product{
	position:relative;
	height:200px;
	width:170px;
	border:solid rgb(0,0,0) 5px;
	font-family:"Times New Roman";
	text-align: center;
	bottom:0px;
/*	background-color: rgb(255,255,255);*/
}

.product:hover{
	background-color: rgb(211,211,211);
}

#header{
	position:absolute;
	background-color:rgb(0,100,100);
	top:10px;
	height:220px;
	width:800px;
	
}

#logo{
	position:absolute;
	background-color:rgb(0,50,50);
	top:10px;
	height:200px;
	width:200px;
	left:10px;
	
}

#logo img{
	width: 200px;
	height: 200px;
}

#welcomeBanner{
	position:absolute;
	background-color:rgb(200,250,250);
	top:10px;
	height:200px;
	width:548px;
	right:20px;
	
	font-size:60px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	
}

#mainContent{
	position:absolute;
	background-color:rgb(0,150,150);
	top:240px;
	height:850px;
	width:800px;
	
}

#navigationMenu{
	position:absolute;
	left:10px;
	top:10px;
	height:800px;
	width:200px;
	
}

#productList{
	position:absolute;
	right:10px;
	top:10px;
	height:800px;
	width:560px;
}

#productList img {
    width: 170px;
    height: 170px;
}

.description{
	position:absolute;
	bottom:15px;
	left:65px;
    font-size: 30px;
    font-weight: bold;
	display: none;
	z-index: 2;

}

.product:hover .description{
	display: block;
}

#productList img:hover{
	opacity: 0.4;
	background-color: rgb(211,211,211);

}